@import '~@/assets/styles/abstracts';
@import '~@/assets/styles/base';

.alert {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.9375rem;
  border-radius: 5px;
  &--primary {
    color: $alert-text-primary !important;
    background-color: $alert-primary !important;
    box-shadow: 0 10px 20px -10px $alert-primary;
  }

  &--info {
    color:$alert-text-info !important;
    background-color: $alert-info;
    box-shadow: 0 10px 20px -10px $alert-info;
  }

  &--success {
    color: $alert-text-success !important;
    background-color:$alert-success;
    box-shadow: 0 10px 20px -10px $alert-success;
  }

  &--warning {
    color: $alert-text-warning !important;
    background-color: $alert-warning;
    box-shadow: 0 10px 20px -10px $alert-warning;
  }

  &--danger {
    color: $alert-text-danger !important;
    background-color: $alert-danger;
    box-shadow: 0 10px 20px -10px$alert-danger;
  }

  &--dark {
    color: $alert-text-dark !important;
    background-color: $alert-dark;
    box-shadow: 0 10px 20px -10px $alert-dark;
  }

  &--emerald {
    color: $emerald-button-color !important;
    background-color: $white;
  }
}
