@import "@/assets/styles/style.scss";

.breadcrumb {
  padding: 0;
  margin: 0;
  display: flex;

  &__item {
    list-style: none;
    position: relative;
    a {
      text-decoration: none;
      font-weight: 500;
      color: $breadcrumbs-item;
      vertical-align: text-bottom;
      font-size: rem(18);
    }
    &:not(:first-child) {
      margin-left: rem(15);
    }
    &:not(:first-child)::before {
      position: absolute;
      top: 0;
      left: rem(-10);
      content: "/";
      font-size: rem(18);
      color: $breadcrumbs-item;
    }
    &-active {
      color: $breadcrumbs-item-active !important;
      font-weight: 600;
    }
  }
}


