//common
$main: #4361ee;
$dark-blue: #0e1726;
$bg: #f0ff8e;
//$bg: #f1f2f5;
$light: #fafafa;
$text: #3b3f5c;
$border: #d7e0ea;
$icon: #506690;
$black:#000;
$white:#fff;

//button
$button-text-color: #fff;
$primary-button-color: #4361ee;
$info-button-color: #2196f3;
$success-button-color: #1abc9c;
$warning-button-color: #e2a03f;
$danger-button-color: #e7515a;
$dark-button-color: #3b3f5c;
$button-color: #f1f2f3;
$main-button-text-color: #3b3f5c;
$secondary-button-color: #805dca;
$emerald-button-color: #408e08;
$pear-button-color: #5dd130;

//inputs
$input-border-color: #408e08;
$input-border-focus-color: #88cc0c;
$input-text-color: #3b3f5c;
$input-focus-shadow-color: #c2d5ff;
$input-dark: #51536547;
$input-dark: #51536547;

//pagination
$pagination-color: #2B455F;

//components
$toast-default-color: #3B3F5C;
$login-border-color: #68bf4e;
$login-title-color: #408e08;
$label-color: #408e08;
$forgot-password-color: #888ea8;
$header-border: #ebedf2;

//left-menu
$left-menu-hover: #bfc9d4;
$breadcrumbs-item-active: #3b3f5c;
$breadcrumbs-item: #888ea8;
$validation-error-color: red;
$table-header-bg-color: #E7F7FF;
$gradient-blue: #4361ee;
$gradient-lilac: #805dca;
$shadow-color: #e0e6ed;
$btn-border-color: #d3d3d3;

//alert

$alert-primary: #eaf1ff;
$alert-text-primary: #4361ee;
$alert-warning: #fff9ed;
$alert-text-warning: #e2a03f;
$alert-success: #ddf5f0;
$alert-text-success: #1abc9c;
$alert-info:#e7f7ff;
$alert-text-info:#2196f3;
$alert-dark:#e3e4eb;
$alert-text-dark:#3b3f5c;
$alert-danger:#fff5f5;
$alert-text-danger:#e7515a;

//modal
$modal-color: #888ea8;
$modal-border:#e0e6ed;
$modal-title: #3b3f5c;
$current: #eaeaea;
$select-text: #030305;